/* --------------------------------------
COLOR PALETTE WITH CSS VARIABLES
----------------------------------------- */   

:root {
    --main-bg-color: rgb(255, 255, 255);
    --main-fg-color: rgb(1, 35, 70);
    --titles-color: #444;
    --bodytext-color: #444444;
  }
  
 body {
     background-color: var(--main-bg-color);
     color: var(--bodytext-color);
    }
 
 h1,h2,h3,h4,h5,h6 {
     font-family: 'Quintessential', 'Helvetica neue', Arial, sans-serif,cursive;
     color: var( --titles-color);
 }
h1{
 font-size:  2.5em;
 text-align: center;
 

}

body { 
 background-color: #D1D1D0;
}

/* --------------------------------------
  RESPONSIVE IMAGES
----------------------------------------- */  

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 2em;
    filter: blur(1.5px) grayscale(50%);
    transition: filter 0.5s;}
  
img:hover{
      filter: none;}   
   


figure {
  border:1px solid #444;
  margin: 1rem;
  padding: 1rem;
  position: relative;
  margin-right: 10px;
  background-color: 	#D2E5D0;
  font-family: 'Quintessential';
  font-size: 30px;
 
}
figcaption{
  margin: 0.75rem 0 0 0;
  position: static;
  bottom: 0.5rem;
  left: 0.5rem;
  color: 	 #030303	;
  text-align: center;

  
}
.home a {

  width: 6rem;
  
  height: 6rem;
  
  display: block;
  
  margin: 1em auto;
  
  }

/* --------------------------------------
   DEFAULT STYLES GO HERE
----------------------------------------- */   

/* not thumbs is not big any more idk why ask teacher tomorrow */






/* --------------------------------------
   MEDIA QUERIES FOR LARGER VIEWPORTS
----------------------------------------- */   

/* No media query for "extra small" since this is the default  
   The following media query sizes are taken from Bootstrap 5
   See: https://getbootstrap.com/docs/5.1/layout/breakpoints/
   and: https://css-tricks.com/snippets/css/media-queries-for-standard-devices/
*/

@media only screen and (min-width: 466px){

  main.thumbs figure {
    width: 434px;
    margin: 1rem auto 2rem auto;
}
h1{
  font-size:  4em;}
}

@media only screen and (min-width: 576px) { 
       
}



/* MEDIUM DEVICES (TABLETS, 768PX AND UP) */
@media only screen and (min-width: 768px) {
    
}
/* 2 x 466px + 16px gap + 2 x 16px outer margins */
@media only screen and (min-width: 918px) {
  main{
    display: grid;
    padding: 0;
    grid-template-columns: 434px 434px;
    grid-column-gap:1rem;
    width: 886px;
    margin:1rem auto;
  }


  
  
  }
/* LAPTOPS AND DESKTOPS CAN BE REGULAR OR RETINA DISPLAY  */

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

  
  }


/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

  
@media only screen and (min-width: 1368px) {

  main.thumbs{
    grid-template-columns: 434px 434px 434px;
    grid-column-gap:1rem;
    width: 1336px;
  }
}
  }


/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {

  }

